@model ISTPLab.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Інформація про групу @Model?.Name</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyNavigation.Name)
        </dd>
    </dl>
</div>
<br/>
<div>
    <a asp-action="Edit" class="btn btn-primary" style="margin-right: 20px;" asp-route-id="@Model?.Id">Змінити</a> 
    <a asp-action="Index" class="btn btn-primary" style="margin-right: 20px;">Повернутись</a>
</div>
