<br />
<h1 style="text-align:center">Введіть пароль</h1>
<br />
@{
    <div>
        <form method="post" asp-controller="Home" asp-action="ValidationPass">
            <input class="form-control form-control-lg" type="text" name="Password" placeholder="Password" id="inputLarge" width="50" />
            <br/>
            <br />
            <div class="form-group">
                <input type="submit" value="Перевірити пароль" class="btn btn-primary" style="margin-right: 20px;" />
                <a asp-action="Index" button type="button" class="btn btn-danger">Повернутись на головну</a>
            </div>
        </form>
       
    </div>

}
