@model ISTPLab.Models.Timetable

@{
    ViewData["Title"] = "Admin " ;
}


<br/>
<p>
    <a asp-controller="Timetables" asp-action="Index" button type="button" class="btn btn-danger">Самостійне</a>

</p>


