
@{
    <h1>Перед видаленням цієї таблиці , видаліть всі пов'язані з нею</h1>
    <br/>
    <div>
        <a asp-controller="Timetables" asp-action="Index" button type="button" class="btn btn-danger">Повернутись до розкладу</a>
    </div>

}
