@model ISTPLab.Models.Timetable
@{
    ViewData["Title"] = "Home Page";
}
<br/>
<h1 style="text-align:center" >Розклад</h1>
<br/>
<p style="text-align:center">
    <a asp-action="GroupChoose" button type="button" class="btn btn-danger" >Перейти до розкладу предметів як відвідувач</a>
</p>
<br/>
<br/>
<p style="text-align:center">
    <a asp-action="Acception" button type="button" class="btn btn-danger">Перейти до розкладу предметів як адміністратор</a>
</p>
