@model ISTPLab.Models.Timetable
@{
    ViewData["Title"] = "Home Page";
}

<h1>Розклад</h1>
<p>
    <a asp-action="GroupChoose">Перейти до розкладів предметів</a>
</p>

<div class="text-center">
    
    
</div>
