@model ISTPLab.Models.Timetable

@{
    ViewData["Title"] = "WrongPass " ;
}


<br/>
<h1>Введений пароль - не правильний</h1>
<br />
<p>
    <a asp-controller="Home" asp-action="Index" button type="button" class="btn btn-danger" style="margin-right: 20px;">Повернутись на головну</a>
    <a asp-action="Acception" class="btn btn-primary" style="margin-right: 20px;">Спробувати ще раз</a>

</p>


